@using GUI.Areas.User.ViewModels
@using System.Globalization
@using GUI.Extensions
@model ShopDetailViewModel
@section Header {
    @await Component.InvokeAsync("UserStickyHeader", "shop")
}
@section MobileHeader {
    @await Component.InvokeAsync("MobileMenuHeader", "shop")
}

<main class="main">
    <div class="mb-lg-2"></div>
    <!-- End .mb-lg-2 -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-9 col-xxl-12 offset-lg-3 offset-xxl-2">
                <div class="intro-slider-container slider-container-ratio mb-2">
                    <div class="intro-slider owl-carousel owl-simple owl-nav-inside" data-toggle="owl"
                         data-owl-options='{
                            "nav": false,
                            "dots": true
                        }'>
                        @foreach (var image in Model.Shop.Images)
                        {
                            <div class="intro-slide">
                                <figure class="slide-image">
                                    <picture>
                                        <source media="(max-width: 480px)"
                                            srcset="@Url.ShopImageUrl(image)" />
                                        <img src="@Url.ShopImageUrl(image)" alt="@Model.Shop.ShopName">
                                    </picture>
                                </figure>
                            </div>
                        }
                    </div>
                    <!-- End .intro-slider owl-carousel owl-simple -->
                    <span class="slider-loader"></span><!-- End .slider-loader -->
                </div>
                <!-- End .intro-slider-container -->
            </div>
            <!-- End .col-xl-9 col-xxl-10 -->
        </div>
        <!-- End .row -->
    </div>
    <!-- End .container-fluid -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-9 col-xxl-10">
                <div class="row mb-2">
                    <div class="col-md-1">
                        <div class="avatar avatar-xl position-relative">
                            <img src="@Url.ShopImageUrl(Model.Shop.Avatar)" alt="@Model.Shop.ShopName" width="74" height="74">
                        </div>
                    </div>
                    <div class="col-md-5 vertical-align-center">
                        <h5 id="shop-name">@Model.Shop.ShopName</h5>
                    </div>
                </div>
                <!-- End .row -->
                <div class="col-lg-12 col-xxl-4-5col">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card card-plain">
                                <div class="card-header p-3">
                                    <h6 class="mb-0">Shop Description</h6>
                                </div>
                                <div class="card-body p-2">
                                    <textarea class="form-control" id="input-description" disabled style="height: 231px; resize: none;">@Model.Shop.Description.Trim()</textarea>
                                </div>
                            </div>
                        </div>
                        <!-- End .col-md-6 -->
                        <div class="col-md-6">
                            <div class="card card-plain">
                                <div class="card-header p-3">
                                    <div class="row">
                                        <div class="col-md-8 d-flex align-items-center">
                                            <h6 class="mb-0">Profile Information</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body p-2">
                                    <div class="row align-items-center">
                                        <div class="col-2">
                                            <label for="input-name" style="margin: 0px">Name:</label>
                                        </div>
                                        <div class="col-10">
                                            <input class="form-control" type="text" id="input-name" disabled value="@Model.Shop.Name">
                                        </div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-2">
                                            <label for="input-name" style="margin: 0px">Phone:</label>
                                        </div>
                                        <div class="col-10">
                                            <input class="form-control" type="text" id="input-phone" disabled value="@Model.Shop.Phone">
                                        </div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-2">
                                            <label for="input-name" style="margin: 0px">Email:</label>
                                        </div>
                                        <div class="col-10">
                                            <input class="form-control" type="text" id="input-email" disabled value="@Model.Shop.Email">
                                        </div>
                                    </div>
                                    <div class="row align-items-center mb-2">
                                        <div class="col-2">
                                            <label for="input-name" style="margin: 0px">Location:</label>
                                        </div>
                                        <div class="col-10">
                                            <input class="form-control" type="text" id="input-address" disabled value="@($"{Model.Shop.Floor}-{Model.Shop.Position}")">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End .col-md-6 -->
                    </div>
                    <!-- End .row -->
                </div>

                <div class="mb-3"></div>
                <!-- End .mb-3 -->
                <div class="d-flex mb-2">
                    <div class="p-2">
                        <h2 class="title">Categories</h2>
                    </div>
                    <div class="ml-auto p-2"> 
                        <a href="/shop/categories/@Model.Shop.Id">See all categories</a>
                    </div>
                </div>
                <div class="row cat-banner-row electronics">
                    <div class="col-xl-12 col-xxl-12">
                        <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                             data-owl-options='{
                                 "nav": true,
                                 "dots": false,
                                 "margin": 20,
                                 "loop": false,
                                 "responsive": {
                                     "0": {
                                        "items":2
                                     },
                                     "480": {
                                        "items":2
                                     },
                                     "768": {
                                        "items":4
                                     },
                                     "992": {
                                        "items":4
                                     },
                                     "1200": {
                                        "items":4
                                     },
                                     "1600": {
                                        "items":4
                                     }
                                 }
                            }'>
                            @foreach (var category in Model.Categories.Skip(1))
                            {
                                <div class="product text-center">
                                    <div class="product-body">
                                        <h3 class="product-title">
                                            <a href="/shop/categories/@Model.Shop.Id?cat=@category.CategoryId">
                                                @category.CategoryName
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                            }
                        </div>
                        <!-- End .owl-carousel -->
                    </div>
                    <!-- End .col-xl-9 -->
                </div>
                <div class="bg-lighter trending-products">
                    <div class="heading heading-flex mb-3">
                        <div class="heading-left">
                            <h2 class="title">Products by categories</h2>
                            <!-- End .title -->
                        </div>
                        <!-- End .heading-left -->
                        <div class="heading-right">
                            <ul class="nav nav-pills justify-content-center" role="tablist">
                                @for (var i = 0; i < Model.Categories.Count; i++)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link @(i == 0 ? "active" : "")" id="category-@Model.Categories[i].CategoryId" data-toggle="tab"
                                       href="#category-@Model.Categories[i].CategoryId-tab" role="tab" aria-controls="category-@Model.Categories[i].CategoryId-tab"
                                       aria-selected="@(i == 0 ? "true" : "false")">@Model.Categories[i].CategoryName</a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <!-- End .heading-right -->
                    </div>
                    <!-- End .heading -->
                    <div class="tab-content tab-content-carousel">
                        @for (var i = 0; i < Model.Categories.Count; i++)
                        {
                            <div class="tab-pane p-0 fade@(i == 0 ? " show active" : "")" id="category-@Model.Categories[i].CategoryId-tab" role="tabpanel"
                             aria-labelledby="category-@Model.Categories[i].CategoryId">
                                <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                                 data-owl-options='{
                                        "nav": false,
                                        "dots": true,
                                        "margin": 20,
                                        "loop": false,
                                        "responsive": {
                                            "0": {
                                                "items":1
                                            },
                                            "480": {
                                                "items":2
                                            },
                                            "768": {
                                                "items":4
                                            },
                                            "992": {
                                                "items":4
                                            },
                                            "1200": {
                                                "items":4,
                                                "nav": true
                                            },
                                            "1600": {
                                                "items":5,
                                                "nav": true
                                            }
                                        }
                                    }'>
                                    @foreach (var product in Model.Products[Model.Categories[i].CategoryId])
                                    {
                                        <div class="product text-center">
                                            <figure class="product-media">
                                                @if (product.Discount > 0)
                                                {
                                                    <span class="product-label label-sale">Sale @(product.Discount)% Off</span>
                                                }
                                                @if (product.IsNewProduct)
                                                {
                                                    <span class="product-label label-new">New</span>
                                                }
                                                <a href="/product/index/@product.Id">
                                                    <img src="@Url.ProductImageUrl(product.Images[0])" alt="@product.ProductName" class="product-image">
                                                </a>
                                                <div class="product-action">
                                                    <a href="#" class="btn-product btn-cart" title="Add to cart" data-product="@product.Id">
                                                        <span>add to cart</span>
                                                    </a>
                                                </div>
                                                <!-- End .product-action -->
                                            </figure>
                                            <!-- End .product-media -->
                                            <div class="product-body">
                                                <div class="product-cat">
                                                    <a href="/product/index/@product.Id">@product.CategoryName</a>
                                                </div>
                                                <!-- End .product-cat -->
                                                <h3 class="product-title">
                                                    <a href="/product/index/@product.Id">@product.ProductName</a>
                                                </h3>
                                                <!-- End .product-title -->
                                                <div class="product-price">
                                                    @if (product.Discount > 0)
                                                    {
                                                        <span class="new-price">@((product.Price * (1 - (product.Discount / 100.0))).ToString("N0", CultureInfo.InvariantCulture))</span>
                                                        <span class="old-price">@product.Price.ToString("N0", CultureInfo.InvariantCulture)</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="new-price">@product.Price.ToString("N0", CultureInfo.InvariantCulture)</span>
                                                    }
                                                </div>
                                                <!-- End .product-price -->
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 100%;"></div>
                                                    </div>
                                                </div>
                                                <!-- End .rating-container -->
                                            </div>
                                            <!-- End .product-body -->
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <!-- End .tab-content -->
                </div>
                <!-- End .bg-lighter -->
                <div class="mb-5"></div>
                <!-- End .mb-5 -->
            </div>
            <!-- End .col-lg-9 col-xxl-10 -->
            <aside class="col-xl-3 col-xxl-2 order-xl-first">
                <div class="sidebar sidebar-home">
                    <div class="row">
                        <div class="col-sm-6 col-xl-12 mb-2 mt-2">
                            <div class="widget widget-products">
                                <h4 class="widget-title"><span>Bestsellers</span></h4>
                                <!-- End .widget-title -->
                                <div class="products">
                                    @foreach (var product in Model.BestSeller)
                                    {
                                        <div class="product product-sm">
                                            <figure class="product-media">
                                                @if (product.Discount > 0)
                                                {
                                                    <span class="product-label label-sale">Sale @(product.Discount)% Off</span>
                                                }
                                                <a href="/product/index/@product.Id">
                                                    <img src="@Url.ProductImageUrl(product.Images[0])" alt="@product.ProductName" class="product-image">
                                                </a>
                                            </figure>
                                            <div class="product-body">
                                                <h5 class="product-title">
                                                    <a href="/product/index/@product.Id">
                                                        @product.ProductName
                                                    </a>
                                                </h5>
                                                <!-- End .product-title -->
                                                <div class="product-price">
                                                    @((product.Price * (1 - (product.Discount / 100.0))).ToString("N0", CultureInfo.InvariantCulture))
                                                </div>
                                                <!-- End .product-price -->
                                            </div>
                                            <!-- End .product-body -->
                                        </div>
                                    }
                                </div>
                                <!-- End .products -->
                            </div>
                            <!-- End .widget widget-products -->
                        </div>
                        <!-- End .col-sm-6 col-xl-12 -->
                        <!-- End .col-sm-6 col-lg-xl -->
                        <div class="col-sm-6 col-xl-12">
                            <div class="widget widget-banner">
                                <div class="banner banner-overlay">
                                    <a href="#">
                                        <img src="@Url.Content("~/assets/user/images/demos/demo-14/banners/banner-12.jpg")" alt="Banner img desc">
                                    </a>
                                    <div class="banner-content banner-content-top">
                                        <h3 class="banner-title text-white">
                                            <a href="#">
                                                Take Better Photos
                                                <br><span>With</span> Canon EOS <br><span>
                                                    Up To 20%
                                                    Off
                                                </span>
                                            </a>
                                        </h3>
                                        <!-- End .banner-title -->
                                        <a href="#" class="banner-link">
                                            Shop Now <i class="icon-long-arrow-right"></i>
                                        </a>
                                    </div>
                                    <!-- End .banner-content -->
                                </div>
                                <!-- End .banner banner-overlay -->
                            </div>
                            <!-- End .widget widget-banner -->
                        </div>
                    </div>
                    <!-- End .row -->
                </div>
                <!-- End .sidebar sidebar-home -->
            </aside>
            <!-- End .col-lg-3 col-xxl-2 -->
        </div>
        <!-- End .row -->
    </div>
    <!-- End .container-fluid -->
</main>