@using GUI.Areas.User.ViewModels
@using System.Globalization
@model List<CheckOutViewModel>
@{
    var totalPrice = Model.Sum(item => item.Quantity * (item.Item.Price * (1 - (item.Item.Discount / 100.0))));
}
@section Header {
    @await Component.InvokeAsync("UserStickyHeader", "home")
}
@section MobileHeader {
    @await Component.InvokeAsync("MobileMenuHeader", "home")
}

<main class="main">
    <div class="page-header text-center" style="background-image: url('@Url.Content("~/assets/user/images/page-header-bg.jpg")')">
        <div class="container">
            <h1 class="page-title">Checkout<span>Shop</span></h1>
        </div>
    </div>
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page" href="/checkout">Checkout</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="checkout">
            <div class="container"  style="width: 90%; justify-content: center">
                <form id="form-input">
                    <div class="row">
                        <div class="col-lg-9">
                            <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                            <div class="row">
                                <div class="col-sm-8">
                                    <label>Full Name *</label>
                                    <input type="text" id="input-fullname" class="form-control" required>
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-4">
                                    <label>Phone *</label>
                                    <input type="tel" id="input-phone" class="form-control" required>
                                </div><!-- End .col-sm-4 -->
                            </div><!-- End .row -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Street Address *</label>
                                    <input type="text" id="input-streetaddress" class="form-control" required>
                                </div><!-- End .col-sm-12 -->
                            </div><!-- End .row -->
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Ward *</label>
                                    <input type="text" id="input-ward" class="form-control" required>
                                </div><!-- End .col-sm-4 -->

                                <div class="col-sm-4">
                                    <label>District *</label>
                                    <input type="text" id="input-district" class="form-control" required>
                                </div><!-- End .col-sm-4 -->

                                <div class="col-sm-4">
                                    <label>Town/City *</label>
                                    <input type="text" id="input-towncity" class="form-control" required>
                                </div><!-- End .col-sm-4 -->
                            </div><!-- End .row -->

                            <label>Order notes (optional)</label>
                            <textarea id="input-ordernotes" style="resize: none" class="form-control" cols="30" rows="4" placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
                            <a title="">
                                <img style="margin-bottom: 2rem; width: 100%" src="https://cdn-bkjpa.nitrocdn.com/ghAQGqPLBEaMatVQCBBqAopRiSuwvyyh/assets/static/optimized/rev-8e7f025/wp-content/uploads/2021/05/gigamall-thu-duc2-scaled.jpg?fbclid=IwAR1CLUwc1yz-mrltUFynddY50ZxrY-MiU_J15c4w9QtJt6CDqIyvMewExlQ" alt="banner" />
                            </a>

                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-3">
                            <div class="summary">
                                <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr class="product-item">
                                                <td><a href="/product/index/@item.Item.Id">@item.Item.ProductName</a></td>
                                                <td>@((item.Item.Price * item.Quantity).ToString("N0", CultureInfo.InvariantCulture))</td>
                                            </tr>
                                        }
                                        <tr class="summary-subtotal" id="product-subtotal">
                                            <td>Subtotal:</td>
                                            <td>@totalPrice.ToString("N0", CultureInfo.InvariantCulture)</td>
                                        </tr><!-- End .summary-subtotal -->
                                        <tr>
                                            <td>Shipping:</td>
                                            <td>Free shipping</td>
                                        </tr>
                                        <tr class="summary-total" id="product-total">
                                            <td>Total:</td>
                                            <td>@totalPrice.ToString("N0", CultureInfo.InvariantCulture)</td>
                                        </tr><!-- End .summary-total -->
                                    </tbody>
                                </table><!-- End .table table-summary -->

                                <div class="accordion-summary" id="accordion-payment">
                                    <div class="card">
                                        <div class="card-header" id="heading-1">
                                            <h2 class="card-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1" data-payment="CoD">
                                                    Cash on delivery
                                                </a>
                                            </h2>
                                        </div><!-- End .card-header -->
                                        <div id="collapse-1" class="collapse" aria-labelledby="heading-1" data-parent="#accordion-payment">
                                            <div class="card-body">
                                                Ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
                                            </div><!-- End .card-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .card -->

                                    <div class="card">
                                        <div class="card-header" id="heading-2">
                                            <h2 class="card-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2" data-payment="MoMo">
                                                    MoMo
                                                </a>
                                            </h2>
                                        </div><!-- End .card-header -->
                                        <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-payment">
                                            <div class="card-body">
                                                Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
                                            </div><!-- End .card-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .card -->

                                    <div class="card">
                                        <div class="card-header" id="heading-4">
                                            <h2 class="card-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4" data-payment="VISA">
                                                    Visa
                                                    <img src="@Url.Content("~/assets/user/images/payments-summary.png")" alt="payments cards">
                                                </a>
                                            </h2>
                                        </div><!-- End .card-header -->
                                        <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-payment">
                                            <div class="card-body">
                                                Donec nec justo eget felis facilisis fermentum.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Lorem ipsum dolor sit ame.
                                            </div><!-- End .card-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .card -->
                                </div><!-- End .accordion -->

                                <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                    <span class="btn-text">Place Order</span>
                                    <span class="btn-hover-text">Proceed to Checkout</span>
                                </button>
                            </div><!-- End .summary -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </form>
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->
<div class="modal fade" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="animation-container" style="width: 300px; height: 300px; margin: auto"></div>
                <h5 class="text-center" style="margin-bottom: 40px">Check out completed successfully</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/assets/user/js/checkout.js")"></script>
}