@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>500 - GIGAMALL</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/assets/user/images/icons/apple-touch-icon.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/assets/user/images/icons/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/assets/user/images/icons/favicon-16x16.png")">
    <link rel="manifest" href="@Url.Content("~/assets/user/images/icons/safari-pinned-tab.svg")">
    <link rel="mask-icon" href="@Url.Content("~/assets/user/images/icons/safari-pinned-tab.svg")" color="#666666">
    <link rel="shortcut icon" href="@Url.Content("~/assets/user/images/icons/favicon.ico")">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="@Url.Content("~/assets/user/images/icons/browserconfig.xml")">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="@Url.Content("~/assets/user/css/bootstrap.min.css")">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="@Url.Content("~/assets/user/css/style.css")">
</head>

<body>
    <div class="page-wrapper">
        <div id="bg-500" class="error-content mt-2" style="background-image: url(@Url.Content("~/assets/user/images/backgrounds/loi-500.png")); background-size: inherit;">
            <div class="container text-center">
            	<h1 class="error-title">Error 500</h1><!-- End .error-title -->
            	<p>Something went wrong. Click this link to back to homepage <a href="/">Back to homepage</a></p>
            </div><!-- End .container -->
        </div><!-- End .error-content text-center -->
    </div>
</body>
</html>