@using GUI.Extensions
﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="https://cap-k24-team13.herokuapp.com/shopowner/" />
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/assets/shop-owner/img/apple-icon.png")">
    <link rel="icon" type="image/png" href="@Url.Content("~/assets/shop-owner/img/favicon.png")">
    <title>
        E-Mall Management - Profile (Edit mode)
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <!-- Nucleo Icons -->
    <link href="@Url.Content("~/assets/shop-owner/css/nucleo-icons.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/shop-owner/css/nucleo-svg.css")" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link href="@Url.Content("~/assets/shop-owner/css/loading.css")" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="@Url.Content("~/assets/shop-owner/css/material-dashboard.css?v=3.0.0")" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <style>
        #button-img {
            display: inline-block;
            height: 50%;
            padding: 0;
            margin: 0;
            vertical-align: top;
            width: 50%;
        }

        .container-fluid h5 {
            word-wrap: break-word;
            overflow: hidden;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
        }

        .container-fluid p {
            word-wrap: break-word;
            overflow: hidden;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
    </style>
    <style>
        textarea {
            height: 200px;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            background-color: #f8f8f8;
            font-size: 16px;
            resize: none;
        }

        .button-save {
            background-color: #4CAF50; /* Green */
            color: white;
            border-radius: 5px;
            padding: 7px 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            margin: 2px 1px;
            cursor: pointer;
            transition-duration: 0.2s;
        }

        .button1:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }
    </style>
    <style>
        .row-2 {
            margin-top: 30px !important;
        }
    </style>
    <style>
        .tab-page > :not(.active) {
            display: none;
        }
    </style>
    <style>
        .dz-progress {
            display: none;
        }
    </style>
    <style>
        #image-carousel .carousel-inner .carousel-item img {
            width: 1134px;
            height: 562px;
        }
    </style>
    <style>
        .bg-gradient-primary-dark {
            background-color: #2f9db6 !important;
        }

        .my-shadow {
            box-shadow: 0 3px 3px 0 rgb(47 157 182 / 15%), 0 3px 1px -2px rgb(47 157 182 / 20%), 0 1px 5px 0 rgb(47 157 182 / 15%);
        }

        .btn.my-shadow:hover {
            box-shadow: 0 14px 26px -12px rgb(47 157 182), 0 4px 23px 0 rgb(47 157 182 / 15%), 0 8px 10px -5px rgb(47 157 182 / 20%);
        }

        .shadow {
            box-shadow: 0 7px 10px -5px rgb(47 157 182) !important;
        }

        .mr-1 {
            margin-right: 0.5rem;
        }
    </style>
</head>

<body class="g-sidenav-show bg-gray-200">
    <div id="loading-container">
        <div id="animation-container"></div>
    </div>
    @await Component.InvokeAsync("SideBar", new { activeItem = "profile" })
    <div class="main-content position-relative bg-gray-100 max-height-vh-100 h-100">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
             navbar-scroll="true">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                        <li class="breadcrumb-item text-sm">
                            <a class="opacity-5 text-dark" href="javascript:;">Pages</a>
                        </li>
                        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Profile</li>
                    </ol>
                    <h6 class="font-weight-bolder mb-0">Profile</h6>
                </nav>
                <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                    <div class="ms-md-auto pe-md-3 d-flex align-items-center"></div>
                    <ul class="navbar-nav justify-content-end">
                        <li class="nav-item d-flex align-items-center dropstart">
                            <a href="#" class="nav-link text-body font-weight-bold px-0 dropdown-toggle" id="user-dropdown" data-bs-toggle="dropdown">
                                <i class="fa fa-user me-sm-1"></i>
                                <span class="d-sm-inline d-none">@User.Identity.Name</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="user-dropdown">
                                <li><a class="dropdown-item" href="@Context.RedirectWithCurrentUrl("https://cap-k24-team13-auth.herokuapp.com/account/information", "returnUrl")">Profile</a></li>
                                <li><a class="dropdown-item" href="@Context.RedirectWithCurrentUrl("https://cap-k24-team13-auth.herokuapp.com/account/change-password", "returnUrl")">Change Password</a></li>
                                <li><a class="dropdown-item" href="/authentication/signout">Sign out</a></li>
                            </ul>
                        </li>
                        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                            <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="container-fluid px-2 px-md-4">
            <div class="page-header min-height-300 border-radius-xl mt-4"
                 style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
                <span class="mask bg-gradient-primary opacity-6"></span>
            </div>
            <div class="card card-body mx-3 mx-md-4 mt-n6">
                <div class="row gx-4 mb-2">
                    <div class="col-3">
                        <div class="dropzone dz-clickable mb-3" id="avatar-section" style="border-radius: 10px" action="#">
                            <div class="dz-default dz-message" data-dz-message="">
                                <span>Drop images here to upload</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-7 my-auto">
                        <div class="h-100">
                            <h5 class="mb-1" id="shop-name"></h5>
                            <p class="mb-0 font-weight-normal text-sm">Shop</p>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="h-100 d-flex" style="align-items: center; float: right">
                            <a class="btn bg-gradient-primary-dark my-shadow text-white" style="margin-bottom: 0px;" name="btn-save">Save</a>
                        </div>
                    </div>
                </div>
                <form enctype="multipart/form-data" method="post">
                    <div class="row justify-content-between mb-3">
                        <div class="col-12 col-xl-6">
                            <div class="form-group">
                                <h6 class="mb-3">Shop Description</h6>
                                <textarea class="form-control" id="input-description" disabled></textarea>
                            </div>
                        </div>
                        <div class="col-12 col-xl-6">
                            <h6 class="mb-3">Shop Information</h6>
                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label" for="input-name">Name</label>
                                <input type="text" class="form-control" id="input-name" disabled />
                            </div>
                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label" for="input-phone">Phone</label>
                                <input type="text" class="form-control" id="input-phone" disabled />
                            </div>
                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label" for="input-email">Email</label>
                                <input type="text" class="form-control" id="input-email" disabled />
                            </div>
                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label" for="input-address">Location</label>
                                <input type="text" class="form-control" id="input-address" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xl-10">
                            <div class="form-group mb-3">
                                <div class="dropzone dz-clickable mb-3" id="image-section" style="border-radius: 10px" action="#">
                                    <div class="dz-default dz-message" data-dz-message="">
                                        <span>Drop images here to upload</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div id="image-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3500">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#image-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#image-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#image-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#image-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#image-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="@Url.Content("~/assets/shop-owner/img/image-holder.jpg")" class="d-block w-100" alt="image">
                        </div>
                        <div class="carousel-item">
                            <img src="@Url.Content("~/assets/shop-owner/img/image-holder.jpg")" class="d-block w-100" alt="image">
                        </div>
                        <div class="carousel-item">
                            <img src="@Url.Content("~/assets/shop-owner/img/image-holder.jpg")" class="d-block w-100" alt="image">
                        </div>
                        <div class="carousel-item">
                            <img src="@Url.Content("~/assets/shop-owner/img/image-holder.jpg")" class="d-block w-100" alt="image">
                        </div>
                        <div class="carousel-item">
                            <img src="@Url.Content("~/assets/shop-owner/img/image-holder.jpg")" class="d-block w-100" alt="image">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#image-carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#image-carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <footer class="footer py-4">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-6 mb-lg-0 mb-4">
                        <div class="copyright text-center text-sm text-muted text-lg-start">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>2021,
                            made with <i class="fa fa-heart" aria-hidden="true"></i> by
                            <a href="https://www.creative-tim.com" class="font-weight-bold" target="_blank">
                                Team 13
                            </a>
                            for a better management.
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!--   Core JS Files   -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="@Url.Content("~/assets/shop-owner/js/core/popper.min.js")"></script>
    <script src="@Url.Content("~/assets/shop-owner/js/core/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/assets/shop-owner/js/plugins/perfect-scrollbar.min.js")"></script>
    <script src="@Url.Content("~/assets/shop-owner/js/plugins/smooth-scrollbar.min.js")"></script>
    <script src="@Url.Content("~/assets/shop-owner/js/internal/utils.js")"></script>
    <script src="@Url.Content("~/assets/shop-owner/js/internal/animation.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.8.1/lottie.min.js" integrity="sha512-V1YyTKZJrzJNhcKthpNAaohFXBnu5K9j7Qiz6gv1knFuf13TW/3vpgVVhJu9fvbdW8lb5J6czIhD4fWK2iHKXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="@Url.Content("~/assets/shop-owner/js/internal/api.js")"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="@Url.Content("~/assets/shop-owner/js/material-dashboard.min.js?v=3.0.0")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/ujug8dr0hmmvp4fgdgm2uam16w1mov8slqh4y5ld7h7hgr6p/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <script>
        Dropzone.autoDiscover = false;
        $(document).ready(function () {
            const acceptedMimeTypes = ['image/jpeg', 'image/jpg', 'image/png'];
            const acceptedMaxBytes = 4 * 1024 * 1024;
            let edittingShopInterface = {};
            let edittingShopInformation = {};
            let remainingBytes = acceptedMaxBytes;
            let imageDropzone = new Dropzone('div#image-section', {
                maxFilesize: 1,
                paramName: 'files',
                maxFiles: 5,
                filesizeBase: 1024,
                autoProcessQueue: false,
                uploadMultiple: true,
                acceptedFiles: acceptedMimeTypes.join(','),
                addRemoveLinks: true,
                myFiles: []
            });
            let avatarDropzone = new Dropzone('div#avatar-section', {
                maxFilesize: 1,
                paramName: 'files',
                maxFiles: 1,
                filesizeBase: 1024,
                autoProcessQueue: false,
                uploadMultiple: true,
                acceptedFiles: acceptedMimeTypes.join(','),
                addRemoveLinks: true,
                myFiles: []
            });
            if (localStorage.getItem('shop-interface.edit-mode') == 'edit') {
                edittingShopInterface = JSON.parse(localStorage.getItem('shop-interface.editting.interface'));
                edittingShopInformation = JSON.parse(localStorage.getItem('shop-interface.editting.information'));
                if (edittingShopInterface)
                    loadEdittingShopInterface(edittingShopInterface, imageDropzone, avatarDropzone);
                if (edittingShopInformation)
                    loadEdittingShopInformation(edittingShopInformation);
            }
            imageDropzone.on('addedfile', function (file) {
                this.options.myFiles.push(file);
                let maxFileNumber = this.options.maxFiles;
                let maxFileSize = this.options.maxFilesize;
                let uploadedFileSizeInMb = file.size / (1024 * 1024);
                if (this.files.length > this.options.maxFiles) {
                    this.removeFile(file);
                    toastr.error('Max file number exceeded!', 'File is rejected');
                } else if (!acceptedMimeTypes.includes(file.type)) {
                    this.removeFile(file);
                    toastr.error('You can\'t upload this type of file!', 'File is rejected');
                } else if (uploadedFileSizeInMb > maxFileSize) {
                    this.removeFile(file);
                    toastr.error(`${uploadedFileSizeInMb.toFixed(2)} MB file is too big to upload!`, 'File is rejected');
                } else if (file.size > remainingBytes) {
                    this.removeFile(file);
                    toastr.error('Maximum file size exceeded!', 'File is rejected');
                } else {
                    remainingBytes -= file.size;
                    let fileReader = new FileReader();
                    let index = this.files.length - 1;
                    fileReader.onload = function (e) {
                        let dataURL = e.target.result;
                        $('#image-carousel').carousel('pause');
                        $('#image-carousel').children('.carousel-inner').children('.carousel-item').eq(index)
                            .children('img').attr('src', dataURL);
                        $('#image-carousel').carousel({
                            ride: true,
                            interval: 3500
                        }).carousel(index);
                    };
                    fileReader.readAsDataURL(file);
                }
            });
            imageDropzone.on('removedfile', function (file) {
                let removedIndex = this.options.myFiles.findIndex(item => item.upload.uuid == file.upload.uuid);

                let lastAddedIndex = this.options.myFiles.length - 1;

                let carouselItems = $('#image-carousel').children('.carousel-inner').children('.carousel-item');
                $('#image-carousel').carousel('pause');
                for (let i = removedIndex; i < lastAddedIndex; i++) {
                    carouselItems.eq(i).children('img')
                        .attr('src', carouselItems.eq(i + 1).children('img').attr('src'));
                }
                carouselItems.eq(lastAddedIndex).children('img').attr('src', '/assets/shop-owner/img/image-holder.jpg');
                $('#image-carousel').carousel({
                    ride: true,
                    interval: 3500
                }).carousel(removedIndex);
                this.options.myFiles.splice(removedIndex, 1);
            });

            $('a.btn[name=btn-save]').click(function () {
                let editMode = localStorage.getItem('shop-interface.edit-mode');

                if (imageDropzone.files.length < 1) {
                    toastr.error('You must upload at least 1 pictures!', 'Error');
                    return;
                }

                if (avatarDropzone.files.length < 1) {
                    toastr.error('You must upload avatar!', 'Error');
                    return;
                }
                
                let animationLoader = new AnimationLoader('#loading-container > #animation-container', '/assets/shop-owner/img/illustrations/loading.json');
                animationLoader.showAnimation();

                let successCallback = () => {
                    localStorage.removeItem('shop-interface.edit-mode');
                    localStorage.removeItem('shop-interface.editting.interface');
                    localStorage.removeItem('shop-interface.editting.information');
                    animationLoader.hideAnimation();
                    setTimeout(() => window.location = '/shopowner/interface', 500);
                };
                let errorCallback = (error) => {
                    animationLoader.hideAnimation();
                    toastr.error('Failed to edit interface! ' + error, 'Error');
                };

                let formData = new FormData();
                formData.append('avatar', avatarDropzone.files[0]);
                for (let i = 0; i < imageDropzone.files.length; i++)
                    formData.append(`images[${i}]`, imageDropzone.files[i]);
                if (editMode === 'add') {
                    getShopId()
                        .then(shopId => {
                            addShopInterface(shopId, formData)
                                .then(successCallback).catch(errorCallback);
                        });
                } else {
                    formData.append('requestModel.avatar', edittingShopInformation.avatar);
                    for (let i = 0; i < edittingShopInformation.images.length; i++)
                        formData.append(`requestModel.shopImages[${i}]`, edittingShopInformation.images[i]);
                    getShopId()
                        .then(shopId => {
                            editShopInterface(shopId, formData)
                                .then(successCallback).catch(errorCallback);
                        });
                }
            });
        });

        function loadEdittingShopInterface(shopInterface, imagesDropzone, avatarDropzone) {
            shopInterface.images.forEach(imageUrl => getShopInterfaceImage(imageUrl).then(blob => {
                let file = new File([blob], blob.name, { type: blob.type });
                imagesDropzone.addFile(file);
            }));
            getShopInterfaceImage(shopInterface.avatar).then(blob => {
                let file = new File([blob], blob.name, { type: blob.type });
                avatarDropzone.addFile(file);
            });
        }

        function loadEdittingShopInformation(shopInformation) {
            $('#input-description').val(shopInformation.description);
            $('#input-name').val(shopInformation.name);
            $('#input-phone').val(shopInformation.phone);
            $('#input-email').val(shopInformation.email);
            let location = (shopInformation.floor.includes('L') ? shopInformation.floor : `L${shopInformation.floor}`) + '-' + shopInformation.position;
            $('#input-address').val(location);
            $('#shop-name').text(shopInformation.shop_Name);
            $('.input-group-outline').addClass('is-filled');
        }
    </script>
</body>

</html>