@using GUI.Areas.User.ViewModels
@using GUI.Extensions
@using Shared
@using Shared.DTOs
@using System.Globalization
@{
    var cartItems = (List<CartItemDTO>)ViewData[SystemConstant.Common.CART_ITEMS_KEY];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Homepage - GIGAMALL</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="E-Mall">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/assets/user/images/icons/apple-touch-icon.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/assets/user/images/icons/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/assets/user/images/icons/favicon-16x16.png")">
    <link rel="manifest" href="@Url.Content("~/assets/user/images/icons/site.html")">
    <link rel="mask-icon" href="@Url.Content("~/assets/user/images/icons/safari-pinned-tab-emall.svg")" color="#666666">
    <link rel="shortcut icon" href="@Url.Content("~/assets/user/images/icons/favicon.ico")">
    <meta name="apple-mobile-web-app-title" content="E-Mall">
    <meta name="application-name" content="E-Mall">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="@Url.Content("~/assets/user/images/icons/browserconfig.xml")">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="@Url.Content("~/assets/user/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css")">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="@Url.Content("~/assets/user/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/user/css/plugins/owl-carousel/owl.carousel.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/user/css/plugins/magnific-popup/magnific-popup.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/user/css/plugins/jquery.countdown.css")">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="@Url.Content("~/assets/user/css/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/user/css/skins/skin-demo-14.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/user/css/demos/demo-14.css")">
    <link href="@Url.Content("~/assets/shop-owner/css/loading.css")" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
          integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
        integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        .toast-message {
            font-size: 16px;
        }
    </style>
    <style>
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 170px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
    <style>
        .header-dropdown > a::after {
            content: none
        }
    </style>
    <style>
        .old-price {
            text-decoration: line-through !important
        }
    </style>
    @RenderSection("Styles", false)
</head>

<body>
    <div id="loading-container">
        <div id="animation-container"></div>
    </div>
    <div class="page-wrapper">
        <header class="header header-14">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <a href="tel:#"><i class="icon-phone"></i>Call: 028 666 00222</a>
                    </div><!-- End .header-left -->

                    <div class="header-right">

                        <ul class="top-menu">
                            <li>
                                <a href="#">Account</a>
                                <ul class="menus">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li class="dropdown">
                                            <a href="#my-account">@User.Identity.Name</a>
                                            <div class="dropdown-content">
                                                <a href="@Context.RedirectWithCurrentUrl("https://cap-k24-team13-auth.herokuapp.com/account/information", "returnUrl")">My Account</a>
                                                <a href="/order-history">My Purchase</a>
                                                <a href="@Context.RedirectWithCurrentUrl("https://cap-k24-team13-auth.herokuapp.com/account/change-password", "returnUrl")">Change Password</a>
                                                <a href="#" id="signout">Sign out</a>
                                            </div>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="login">
                                            <a href="#">Sign in / Sign up</a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-auto col-lg-3 col-xl-3 col-xxl-2 justify-content-center">
                            <button class="mobile-menu-toggler">
                                <span class="sr-only">Toggle mobile menu</span>
                                <i class="icon-bars"></i>
                            </button>
                            <a href="/" class="logo">
                                <img src="@Url.Content("~/assets/user/images/demos/demo-14/logo1.png")" alt="E-Mall Logo" width="160" height="25">
                            </a>
                        </div><!-- End .col-xl-3 col-xxl-2 -->

                        <div class="col col-lg-9 col-xl-9 col-xxl-10 header-middle-right">
                            <div class="row">
                                <div class="col-lg-8 col-xxl-4-5col d-none d-lg-block">
                                    <div class="header-search header-search-extended header-search-visible header-search-no-radius">
                                        <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                                        <form action="/home/search" method="get">
                                            <div class="header-search-wrapper search-wrapper-wide">
                                                <div class="select-custom">
                                                    <select id="cat" name="cat">
                                                        <option value="product">Search by products</option>
                                                        <option value="shop">Search by shop</option>
                                                    </select>
                                                </div><!-- End .select-custom -->
                                                <input type="search" class="form-control" name="keyword" id="q" placeholder="Search ..." required>
                                                <input type="hidden" name="pageNumber" value="1" />
                                                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                            </div><!-- End .header-search-wrapper -->
                                        </form>
                                    </div><!-- End .header-search -->
                                </div><!-- End .col-xxl-4-5col -->

                                <div class="col-lg-4 col-xxl-5col d-flex justify-content-center align-items-center">
                                    <div class="header-dropdown-link">
                                        <div class="dropdown cart-dropdown">
                                            <a href="/cart" class="dropdown-toggle" role="button">
                                                <i class="icon-shopping-cart"></i>
                                                <span class="cart-count">@(cartItems == null ? 0 : cartItems.Count)</span>
                                                <span class="cart-txt">Cart</span>
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-right">
                                                <div class="dropdown-cart-products">
                                                    @if (cartItems == null)
                                                    {
                                                        <div class="product" style="flex-direction: column; align-items: center; padding: 2.4rem;">
                                                            <i class="fas fa-times fa-5x" style="margin: auto"></i>
                                                            <h4 class="product-title">
                                                                You are not signed in
                                                            </h4>
                                                        </div>
                                                    }
                                                    else if (cartItems.Count == 0)
                                                    {
                                                        <div class="product">
                                                            <h4 class=product-title style="padding-left: 20px;">
                                                                There are no products in cart
                                                            </h4>
                                                        </div>
                                                        <div class="dropdown-cart-total">
                                                            <span></span>
                                                            <span class="cart-total-price"></span>
                                                        </div>
                                                        <div class="dropdown-cart-action" style="display: block">
                                                            <a href="/cart" class="btn btn-primary" style="display: block; margin-left: auto; margin-right: auto">View Cart</a>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        foreach (var item in cartItems)
                                                        {
                                                            <div class="product" data-product="@item.ProductId">
                                                                <div class="product-cart-details">
                                                                    <h4 class="product-title">
                                                                        <a href="product.html">@item.ProductName</a>
                                                                    </h4>
                                                                    <span class="cart-product-info">
                                                                        <span class="cart-product-qty">@item.Quantity</span>
                                                                        x
                                                                        <span class="base-price">@((item.Price * (1 - (item.Discount / 100.0))).ToString("N0", CultureInfo.InvariantCulture))</span>
                                                                    </span>
                                                                </div><!-- End .product-cart-details -->
                                                                <figure class="product-image-container">
                                                                    <a href="/product/index/@item.ProductId" class="product-image">
                                                                        <img src="@Url.ProductImageUrl(item.Image)" )" alt="product">
                                                                    </a>
                                                                </figure>
                                                                <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                                            </div>
                                                        }
                                                        <div class="dropdown-cart-total">
                                                            <span>Total</span>
                                                            <span class="cart-total-price">@cartItems.Sum(item => item.Quantity * (item.Price * (1 - (item.Discount / 100.0)))).ToString("N0", CultureInfo.InvariantCulture)</span>
                                                        </div>
                                                        <div class="dropdown-cart-action" style="display: block">
                                                            <a class="btn btn-primary" href="/cart" style="display: block; margin-left: auto; margin-right: auto">View Cart</a>
                                                        </div>
                                                    }
                                                </div>
                                            </div><!-- End .dropdown-menu -->
                                        </div><!-- End .cart-dropdown -->
                                    </div>
                                </div><!-- End .col-xxl-5col -->
                            </div><!-- End .row -->
                        </div><!-- End .col-xl-9 col-xxl-10 -->
                    </div><!-- End .row -->
                </div><!-- End .container-fluid -->
            </div><!-- End .header-middle -->

            @RenderSection("Header")

        </header><!-- End .header -->
        @RenderBody()

        <footer class="footer">
            <div class="cta cta-horizontal cta-horizontal-box bg-dark bg-image" style="background-image: url('assets/images/demos/demo-14/bg-1.jpg');">
            </div><!-- End .cta -->
            <div class="footer-middle border-0" id="contact">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-lg-4">
                            <div class="widget widget-about">
                                <img src="@Url.Content("~/assets/user/images/demos/demo-14/logo-footer1.png")" class="footer-logo" )" alt="Footer Logo" width="300" height="25">
                                <p>GIGAMALL's online shopping site, helping you access the latest trends.</p>

                                <div class="widget-about-info">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <span class="widget-about-title">Got Question? Call us</span>
                                            <a href="tel:028 666 00222">028 666 00222</a>
                                        </div><!-- End .col-sm-6 -->
                                        <div class="col-sm-6 col-md-8">
                                            <figure class="footer-payments" style="margin-top:0">
                                                <img src="@Url.Content("~/assets/user/images/bct.png")" alt="Payment methods" width="150" height="65">
                                            </figure><!-- End .footer-payments -->
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .widget-about-info -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-12 col-lg-4 -->

                        <div class="col-sm-4 col-lg-4">
                            <div class="widget">
                                <h4 class="widget-title">GIGAMALL</h4>
                                <ul class="widget-list">
                                       <li><img src="@Url.Content("~/assets/user/images/icons/location-icon.png")"><span>240-242 Pham Van Dong Street, Hiep Binh Chanh Ward, Thu Duc City</span></li>
                                       <li><img src="@Url.Content("~/assets/user/images/icons/phone-icon.png")"><span>(028) 7100 3839 | 7109 3839</span></li>
                                       <li><img src="@Url.Content("~/assets/user/images/icons/mail-icon.png")"><a href="mailto:dvkh@gigamall.com.vn">dvkh@gigamall.com.vn</a></li>
                                       <li><p><strong>Operating time</strong></p></li>
                                       <li><p>Monday - Friday | 9:30 - 22:00</p></li>
                                       <li><p>Saturday & Sunday | 9:00 - 22:00</p></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-2 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">E-Mall Information</h4><!-- End .widget-title -->
                                <ul class="widget-list">
                                    <li><a href="https://emallsolution-admin.herokuapp.com/#about">About EMall</a></li>
                                    <li><a href="https://emallsolution-admin.herokuapp.com/#testimonials">Client testimonials</a></li>
                                    <li><a href="https://emallsolution-admin.herokuapp.com/#portfolio">Gallery</a></li>
                                    <li><a href="https://emallsolution-admin.herokuapp.com/#contact">Contact us</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-2 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->
                                <ul class="widget-list">
                                    <li><a href="https://emallsolution-admin.herokuapp.com/#services">Our Services</a></li>
                                    <li><a href="#">Payment Methods</a></li>
                                </ul><!-- End .widget-list -->
                                <div class="widget-about-info">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-12">  
                                            <figure class="footer-payments">
                                                <img src="@Url.Content("~/assets/user/images/payments.png")" alt="Payment methods" width="272" height="20">
                                            </figure><!-- End .footer-payments -->
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->
                                </div>
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-2 -->
                    </div><!-- End .row -->
                </div><!-- End .container-fluid -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container-fluid">
                    <p class="footer-copyright">Copyright © 2022 E-Mall Store. All Rights Reserved.</p>
                </div><!-- End .container-fluid -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
    @RenderSection("MobileHeader", false)

    <!-- Plugins JS File -->
    <script src="@Url.Content("~/assets/user/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/shop-owner/js/plugins/support.js")"></script>
    <script src="@Url.Content("~/assets/user/js/bootstrap.bundle.min.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.8.1/lottie.min.js"
            integrity="sha512-V1YyTKZJrzJNhcKthpNAaohFXBnu5K9j7Qiz6gv1knFuf13TW/3vpgVVhJu9fvbdW8lb5J6czIhD4fWK2iHKXA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="@Url.Content("~/assets/shop-owner/js/internal/animation.js")"></script>
    <script src="@Url.Content("~/assets/user/js/jquery.hoverIntent.min.js")"></script>
    <script src="@Url.Content("~/assets/user/js/jquery.waypoints.min.js")"></script>
    <script src="@Url.Content("~/assets/user/js/superfish.min.js")"></script>
    <script src="@Url.Content("~/assets/user/js/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/assets/user/js/bootstrap-input-spinner.js")"></script>
    <script src="@Url.Content("~/assets/user/js/jquery.magnific-popup.min.js")"></script>
    <script src="@Url.Content("~/assets/user/js/jquery.plugin.min.js")"></script>
    <script src="@Url.Content("~/assets/user/js/jquery.countdown.min.js")"></script>

    <!-- Main JS File -->
    <script src="@Url.Content("~/assets/user/js/main.js")"></script>
    <script src="@Url.Content("~/assets/user/js/demos/demo-14.js")"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="@Url.Content("~/assets/shop-owner/js/internal/api.js")"></script>
    <script src="@Url.Content("~/assets/shop-owner/js/internal/utils.js")"></script>
    <script src="@Url.Content("~/assets/user/js/cart.js")"></script>
    <script>
        $(document).ready(function () {
            const redirectUrl = window.location.pathname;
            $('li.login > a').attr('href', `/authentication/signin?redirectUrl=${encodeURIComponent(redirectUrl)}`);
            $('#signout').attr('href', `/authentication/signout?redirectUrl=${encodeURIComponent(redirectUrl)}`);
        });
    </script>
    @RenderSection("Scripts", false)
    @RenderSection("CheckingOutErrors", false)
</body>

</html>