@using GUI.Areas.User.ViewModels
@using GUI.Extensions
@using System.Globalization
@model HomePageViewModel
@{
    var highlightConvenience = Model.Products["Convenience"].MaxBy(product => product.Discount);
    var highlightFashion = Model.Products["Fashion"].MaxBy(product => product.Discount);
    var highlightAccessories = Model.Products["Fashion"].MaxBy(product => product.Discount);
}
@section Header {
    @await Component.InvokeAsync("UserStickyHeader", "home")
}
@section MobileHeader {
    @await Component.InvokeAsync("MobileMenuHeader", "home")
}
<main class="main">
    <div class="mb-lg-2"></div><!-- End .mb-lg-2 -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-9 col-xxl-8 offset-lg-3 offset-xxl-2">
                <div class="intro-slider-container slider-container-ratio mb-2">
                    <div class="intro-slider owl-carousel owl-simple owl-nav-inside" data-toggle="owl" data-owl-options='{
                                    "nav": false,
                                    "dots": true
                                }'>
                        <div class="intro-slide">
                            <figure class="slide-image">
                                <picture>
                                    <source media="(max-width: 480px)" srcset="@Url.Content("~/assets/user/images/demos/demo-14/slider/slide-1-480w.jpg")" />
                                    <img src="@Url.Content("~/assets/user/images/demos/demo-14/slider/slide-1.jpg")" alt="Image Desc">
                                </picture>
                            </figure><!-- End .slide-image -->

                            <div class="intro-content">
                                <h3 class="intro-subtitle">New Arrivals</h3><!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title text-white">
                                    The New Way <br>To Buy Furniture
                                </h1><!-- End .intro-title -->

                                <div class="intro-text text-white">
                                    Spring Collections 2019
                                </div><!-- End .intro-text -->

                                <a href="/home/categories?cat=21&cat=22&cat=24&cat=3&cat=4&cat=6&cat=15&cat=14&cat=20&cat=23&cat=27&cat=29" class="btn btn-primary">
                                    <span>Discover Now</span>
                                    <i class="icon-long-arrow-right"></i>
                                </a>
                            </div><!-- End .intro-content -->
                        </div><!-- End .intro-slide -->

                        <div class="intro-slide">
                            <figure class="slide-image">
                                <picture>
                                    <source media="(max-width: 480px)" srcset="@Url.Content("~/assets/user/images/demos/demo-14/slider/slide-2-480w.jpg")" />
                                    <img src="@Url.Content("~/assets/user/images/demos/demo-14/slider/slide-2.jpg")" alt="Image Desc">
                                </picture>
                            </figure><!-- End .slide-image -->

                            <div class="intro-content">
                                <h3 class="intro-subtitle">Hottest Deals</h3><!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title">
                                    <span>Wherever You Go</span> <br>DJI Mavic 2 Pro
                                </h1><!-- End .intro-title -->

                                <div class="intro-price">
                                    <sup>from</sup>
                                    <span>
                                        $1,948<sup>.99</sup>
                                    </span>
                                </div><!-- End .intro-price -->

                                <a href="/home/categories?cat=19&cat=29&cat=14&cat=9&cat=28&cat=6" class="btn btn-primary">
                                    <span>Discover Here</span>
                                    <i class="icon-long-arrow-right"></i>
                                </a>
                            </div><!-- End .intro-content -->
                        </div><!-- End .intro-slide -->

                        <div class="intro-slide">
                            <figure class="slide-image">
                                <picture>
                                    <source media="(max-width: 480px)" srcset="@Url.Content("~/assets/user/images/demos/demo-14/slider/slide-3-480w.jpg")" />
                                    <img src="@Url.Content("~/assets/user/images/demos/demo-14/slider/slide-3.jpg")" alt="Image Desc">
                                </picture>
                            </figure><!-- End .slide-image -->

                            <div class="intro-content">
                                <h3 class="intro-subtitle">Limited Quantities</h3><!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title">
                                    Refresh Your <br>Wardrobe
                                </h1><!-- End .intro-title -->

                                <div class="intro-text">
                                    Summer Collection 2019
                                </div><!-- End .intro-text -->

                                <a href="/home/categories?cat=1&cat=2&cat=5&cat=7&cat=8&cat=9&cat=11&cat=12&cat=13&cat=17&cat=18" class="btn btn-primary">
                                    <span>Discover Now</span>
                                    <i class="icon-long-arrow-right"></i>
                                </a>
                            </div><!-- End .intro-content -->
                        </div><!-- End .intro-slide -->
                    </div><!-- End .intro-slider owl-carousel owl-simple -->

                    <span class="slider-loader"></span><!-- End .slider-loader -->
                </div><!-- End .intro-slider-container -->
            </div><!-- End .col-xl-9 col-xxl-10 -->

            <div class="col-xl-3 col-xxl-2 d-none d-xxl-block">
                <div class="banner banner-overlay  banner-content-stretch ">
                    <a href="#">
                        <img src="@Url.Content("~/assets/user/images/demos/demo-14/banners/banner-1.png")" alt="Banner img desc">
                    </a>
                    <div class="banner-content text-right">
                        <div class="price text-center">
                            <sup class="text-white">from</sup>
                            <span class="text-white">
                                <strong>$199</strong><sup class="text-white">,99</sup>
                            </span>
                        </div>
                        <a href="/home/categories?cat=19&cat=29&cat=14&cat=9&cat=28&cat=6" class="banner-link">Discover Now <i class="icon-long-arrow-right"></i></a>
                    </div><!-- End .banner-content -->
                </div><!-- End .banner banner-overlay -->
            </div><!-- End .col-xl-3 col-xxl-2 -->
        </div><!-- End .row -->
    </div><!-- End .container-fluid -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-9 col-xxl-10">
                <div class="row">
                    <div class="col-lg-12 col-xxl-4-5col">
                        <div class="row">
                            @foreach (var product in Model.TopMostSaleOffProducts)
                            {
                                <div class="col-md-6">
                                    <div class="banner banner-overlay">
                                        <a href="/product/index/@product.Id">
                                            <img src="@Url.Content("~/assets/user/images/demos/demo-14/banners/banner-3.png")" alt="Banner img desc">
                                        </a>
                                        <div class="banner-content">
                                            <h4 class="banner-subtitle text-white d-none d-sm-block"><a href="/product/index/@product.Id">Deal of the Day</a></h4><!-- End .banner-subtitle -->
                                            <h3 class="banner-title text-white">
                                                <a href="/product/index/@product.Id">
                                                    @product.ProductName
                                                    <br>
                                                    <span>Up To @product.Discount% Off</span>
                                                </a>
                                            </h3><!-- End .banner-title -->
                                            <a href="/product/index/@product.Id" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                                        </div><!-- End .banner-content -->
                                    </div><!-- End .banner banner-overlay -->
                                </div><!-- End .col-md-6 -->
                            }
                        </div><!-- End .row -->
                    </div><!-- End .col-lg-3 col-xxl-4-5col -->

                    <div class="col-12 col-xxl-5col d-none d-xxl-block">
                        <div class="banner banner-overlay">
                            <a href="#">
                                <img src="@Url.Content("~/assets/user/images/demos/demo-14/banners/banner-4.jpg")" alt="Banner img desc">
                            </a>

                            <div class="banner-content">
                                <h4 class="banner-subtitle text-white"><a href="#">Clearance</a></h4><!-- End .banner-subtitle -->
                                <h3 class="banner-title text-white"><a href="#">Seating and Tables Clearance</a></h3><!-- End .banner-title -->
                                <a href="/home/categories?cat=21&cat=22&cat=24&cat=3&cat=4&cat=6&cat=15&cat=14&cat=20&cat=23&cat=27&cat=29" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner banner-overlay -->
                    </div><!-- End .col-lg-3 col-xxl-2 -->
                </div><!-- End .row -->

                <div class="mb-3"></div><!-- End .mb-3 -->

                <div class="owl-carousel owl-simple brands-carousel" data-toggle="owl"
                     data-owl-options='{
                                "nav": false,
                                "dots": false,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "420": {
                                        "items":3
                                    },
                                    "600": {
                                        "items":4
                                    },
                                    "900": {
                                        "items":5
                                    },
                                    "1600": {
                                        "items":6,
                                        "nav": true
                                    }
                                }
                            }'>
                    @foreach (var shop in Model.Shops)
                    {
                        <a href="/shop/index/@shop.Id" class="brand">
                            <p class="product-title" style="font-size: 2rem">@shop.ShopName</p>
                        </a>
                    }
                </div><!-- End .owl-carousel -->

                <div class="mb-5"></div><!-- End .mb-5 -->

                <div class="bg-lighter trending-products">
                    <div class="heading heading-flex mb-3">
                        <div class="heading-left">
                            <h2 class="title">Trending Today</h2><!-- End .title -->
                        </div><!-- End .heading-left -->

                        <div class="heading-right">
                            <ul class="nav nav-pills justify-content-center" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="trending-all-link" data-toggle="tab" href="#trending-all-tab" role="tab" aria-controls="trending-all-tab" aria-selected="true">All</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="trending-0-link" data-toggle="tab" href="#trending-0-tab" role="tab" aria-controls="trending-0-tab" aria-selected="false">Fashion</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="trending-1-link" data-toggle="tab" href="#trending-1-tab" role="tab" aria-controls="trending-1-tab" aria-selected="false">Electronics</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="trending-2-link" data-toggle="tab" href="#trending-2-tab" role="tab" aria-controls="trending-2-tab" aria-selected="false">Furniture</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="trending-3-link" data-toggle="tab" href="#trending-3-tab" role="tab" aria-controls="trending-3-tab" aria-selected="false">Book & Magazine</a>
                                </li>
                            </ul>
                        </div><!-- End .heading-right -->
                    </div><!-- End .heading -->

                    <div class="tab-content tab-content-carousel">
                        <div class="tab-pane p-0 fade show active" id="trending-all-tab" role="tabpanel" aria-labelledby="trending-all-link">
                            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                                 data-owl-options='{
                                            "nav": false,
                                            "dots": true,
                                            "margin": 20,
                                            "loop": false,
                                            "responsive": {
                                                "0": {
                                                    "items":1
                                                },
                                                "480": {
                                                    "items":2
                                                },
                                                "768": {
                                                    "items":3
                                                },
                                                "992": {
                                                    "items":4
                                                },
                                                "1200": {
                                                    "items":3,
                                                    "nav": true
                                                },
                                                "1600": {
                                                    "items":5,
                                                    "nav": true
                                                }
                                            }
                                        }'>
                                @foreach (var product in Model.Products["All"])
                                {
                                    <div class="product text-center">
                                        <figure class="product-media">
                                            @if (product.Discount > 0)
                                            {
                                                <span class="product-label label-sale">Sale @(product.Discount)% Off</span>
                                            }
                                            @if (product.IsNewProduct)
                                            {
                                                <span class="product-label label-new">New</span>
                                            }
                                            <a href="/product/index/@product.Id">
                                                <img src="@Url.ProductImageUrl(product.Images[0])" alt="Product image" class="product-image">
                                            </a>

                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart" title="Add to cart" data-product="@product.Id">
                                                    <span>add to cart</span>
                                                </a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="/home/categories?cat=@product.CategoryId">@product.CategoryName</a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title">
                                                <a href="/product/index/@product.Id">@product.ProductName</a>
                                            </h3><!-- End .product-title -->
                                            <div class="product-price">
                                                @if (product.Discount > 0)
                                                {
                                                    <span class="new-price">@((product.Price * (1 - (product.Discount / 100.0))).ToString("N0", CultureInfo.InvariantCulture))</span>
                                                    <span class="old-price">@product.Price.ToString("N0", CultureInfo.InvariantCulture)</span>
                                                }
                                                else
                                                {
                                                    <span class="new-price">@product.Price.ToString("N0", CultureInfo.InvariantCulture)</span>
                                                }
                                            </div><!-- End .product-price -->
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: @(product.AverageRating * 20)%"></div><!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                            </div><!-- End .rating-container -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                }
                            </div><!-- End .owl-carousel -->
                        </div><!-- .End .tab-pane -->
                        <div class="tab-pane p-0 fade" id="trending-0-tab" role="tabpanel" aria-labelledby="trending-0-link">
                            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                                 data-owl-options='{
                                            "nav": false,
                                            "dots": true,
                                            "margin": 20,
                                            "loop": false,
                                            "responsive": {
                                                "0": {
                                                    "items":1
                                                },
                                                "480": {
                                                    "items":2
                                                },
                                                "768": {
                                                    "items":3
                                                },
                                                "992": {
                                                    "items":4
                                                },
                                                "1200": {
                                                    "items":3,
                                                    "nav": true
                                                },
                                                "1600": {
                                                    "items":5,
                                                    "nav": true
                                                }
                                            }
                                        }'>
                                @foreach (var product in Model.Products["Fashion"])
                                {
                                    <div class="product text-center">
                                        <figure class="product-media">
                                            @if (product.Discount > 0)
                                            {
                                                <span class="product-label label-sale">Sale @(product.Discount)% Off</span>
                                            }
                                            @if (product.IsNewProduct)
                                            {
                                                <span class="product-label label-new">New</span>
                                            }
                                            <a href="/product/index/@product.Id">
                                                <img src="@Url.ProductImageUrl(product.Images[0])" alt="Product image" class="product-image">
                                            </a>

                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart" title="Add to cart" data-product="@product.Id">
                                                    <span>add to cart</span>
                                                </a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="/home/categories?cat=@product.CategoryId">@product.CategoryName</a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title">
                                                <a href="/product/index/@product.Id">@product.ProductName</a>
                                            </h3><!-- End .product-title -->
                                            <div class="product-price">
                                                @if (product.Discount > 0)
                                                {
                                                    <span class="new-price">@((product.Price * (1 - (product.Discount / 100.0))).ToString("N0", CultureInfo.InvariantCulture))</span>
                                                    <span class="old-price">@product.Price.ToString("N0", CultureInfo.InvariantCulture)</span>
                                                }
                                                else
                                                {
                                                    <span class="new-price">@product.Price.ToString("N0", CultureInfo.InvariantCulture)</span>
                                                }
                                            </div><!-- End .product-price -->
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: @(product.AverageRating * 20)%"></div><!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                            </div><!-- End .rating-container -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                }
                            </div><!-- End .owl-carousel -->
                        </div><!-- .End .tab-pane -->
                        <div class="tab-pane p-0 fade" id="trending-1-tab" role="tabpanel" aria-labelledby="trending-1-link">
                            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                                 data-owl-options='{
                                            "nav": false,
                                            "dots": true,
                                            "margin": 20,
                                            "loop": false,
                                            "responsive": {
                                                "0": {
                                                    "items":1
                                                },
                                                "480": {
                                                    "items":2
                                                },
                                                "768": {
                                                    "items":3
                                                },
                                                "992": {
                                                    "items":4
                                                },
                                                "1200": {
                                                    "items":3,
                                                    "nav": true
                                                },
                                                "1600": {
                                                    "items":5,
                                                    "nav": true
                                                }
                                            }
                                        }'>
                                @foreach (var product in Model.Products["Electronics"])
                                {
                                    <div class="product text-center">
                                        <figure class="product-media">
                                            @if (product.Discount > 0)
                                            {
                                                <span class="product-label label-sale">Sale @(product.Discount)% Off</span>
                                            }
                                            @if (product.IsNewProduct)
                                            {
                                                <span class="product-label label-new">New</span>
                                            }
                                            <a href="/product/index/@product.Id">
                                                <img src="@Url.ProductImageUrl(product.Images[0])" alt="Product image" class="product-image">
                                            </a>

                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart" title="Add to cart" data-product="@product.Id">
                                                    <span>add to cart</span>
                                                </a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="/home/categories?cat=@product.CategoryId">@product.CategoryName</a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title">
                                                <a href="/product/index/@product.Id">@product.ProductName</a>
                                            </h3><!-- End .product-title -->
                                            <div class="product-price">
                                                @if (product.Discount > 0)
                                                {
                                                    <span class="new-price">@((product.Price * (1 - (product.Discount / 100.0))).ToString("N0", CultureInfo.InvariantCulture))</span>
                                                    <span class="old-price">@product.Price.ToString("N0", CultureInfo.InvariantCulture)</span>
                                                }
                                                else
                                                {
                                                    <span class="new-price">@product.Price.ToString("N0", CultureInfo.InvariantCulture)</span>
                                                }
                                            </div><!-- End .product-price -->
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: @(product.AverageRating * 20)%"></div><!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                            </div><!-- End .rating-container -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                }
                            </div><!-- End .owl-carousel -->
                        </div><!-- .End .tab-pane -->
                        <div class="tab-pane p-0 fade" id="trending-2-tab" role="tabpanel" aria-labelledby="trending-2-link">
                            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                                 data-owl-options='{
                                            "nav": false,
                                            "dots": true,
                                            "margin": 20,
                                            "loop": false,
                                            "responsive": {
                                                "0": {
                                                    "items":1
                                                },
                                                "480": {
                                                    "items":2
                                                },
                                                "768": {
                                                    "items":3
                                                },
                                                "992": {
                                                    "items":4
                                                },
                                                "1200": {
                                                    "items":3,
                                                    "nav": true
                                                },
                                                "1600": {
                                                    "items":5,
                                                    "nav": true
                                                }
                                            }
                                        }'>
                                @foreach (var product in Model.Products["Furniture"])
                                {
                                    <div class="product text-center">
                                        <figure class="product-media">
                                            @if (product.Discount > 0)
                                            {
                                                <span class="product-label label-sale">Sale @(product.Discount)% Off</span>
                                            }
                                            @if (product.IsNewProduct)
                                            {
                                                <span class="product-label label-new">New</span>
                                            }
                                            <a href="/product/index/@product.Id">
                                                <img src="@Url.ProductImageUrl(product.Images[0])" alt="Product image" class="product-image">
                                            </a>

                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart" title="Add to cart" data-product="@product.Id">
                                                    <span>add to cart</span>
                                                </a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="/home/categories?cat=@product.CategoryId">@product.CategoryName</a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title">
                                                <a href="/product/index/@product.Id">@product.ProductName</a>
                                            </h3><!-- End .product-title -->
                                            <div class="product-price">
                                                @if (product.Discount > 0)
                                                {
                                                    <span class="new-price">@((product.Price * (1 - (product.Discount / 100.0))).ToString("N0", CultureInfo.InvariantCulture))</span>
                                                    <span class="old-price">@product.Price.ToString("N0", CultureInfo.InvariantCulture)</span>
                                                }
                                                else
                                                {
                                                    <span class="new-price">@product.Price.ToString("N0", CultureInfo.InvariantCulture)</span>
                                                }
                                            </div><!-- End .product-price -->
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: @(product.AverageRating * 20)%"></div><!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                            </div><!-- End .rating-container -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                }
                            </div><!-- End .owl-carousel -->
                        </div><!-- .End .tab-pane -->
                        <div class="tab-pane p-0 fade" id="trending-3-tab" role="tabpanel" aria-labelledby="trending-3-link">
                            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                                 data-owl-options='{
                                            "nav": false,
                                            "dots": true,
                                            "margin": 20,
                                            "loop": false,
                                            "responsive": {
                                                "0": {
                                                    "items":1
                                                },
                                                "480": {
                                                    "items":2
                                                },
                                                "768": {
                                                    "items":3
                                                },
                                                "992": {
                                                    "items":4
                                                },
                                                "1200": {
                                                    "items":3,
                                                    "nav": true
                                                },
                                                "1600": {
                                                    "items":5,
                                                    "nav": true
                                                }
                                            }
                                        }'>
                                @foreach (var product in Model.Products["Book & Magazine"])
                                {
                                    <div class="product text-center">
                                        <figure class="product-media">
                                            @if (product.Discount > 0)
                                            {
                                                <span class="product-label label-sale">Sale @(product.Discount)% Off</span>
                                            }
                                            @if (product.IsNewProduct)
                                            {
                                                <span class="product-label label-new">New</span>
                                            }
                                            <a href="/product/index/@product.Id">
                                                <img src="@Url.ProductImageUrl(product.Images[0])" alt="Product image" class="product-image">
                                            </a>

                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart" title="Add to cart" data-product="@product.Id">
                                                    <span>add to cart</span>
                                                </a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="/home/categories?cat=@product.CategoryId">@product.CategoryName</a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title">
                                                <a href="/product/index/@product.Id">@product.ProductName</a>
                                            </h3><!-- End .product-title -->
                                            <div class="product-price">
                                                @if (product.Discount > 0)
                                                {
                                                    <span class="new-price">@((product.Price * (1 - (product.Discount / 100.0))).ToString("N0", CultureInfo.InvariantCulture))</span>
                                                    <span class="old-price">@product.Price.ToString("N0", CultureInfo.InvariantCulture)</span>
                                                }
                                                else
                                                {
                                                    <span class="new-price">@product.Price.ToString("N0", CultureInfo.InvariantCulture)</span>
                                                }
                                            </div><!-- End .product-price -->
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: @(product.AverageRating * 20)%"></div><!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                            </div><!-- End .rating-container -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                }
                            </div><!-- End .owl-carousel -->
                        </div><!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .bg-lighter -->

                <div class="mb-5"></div><!-- End .mb-5 -->

                @if (highlightConvenience != null)
                {  
                    <div class="row cat-banner-row electronics">
                        <div class="col-xl-3 col-xxl-4">
                            <div class="cat-banner row no-gutters">
                                <div class="cat-banner-list col-sm-6 d-xl-none d-xxl-flex" style="background-image: url(/assets/images/demos/demo-14/banners/banner-bg-1.jpg);">
                                    <div class="banner-list-content">
                                        <h2>Convenience Goods</h2>

                                        <ul>
                                            <li><a href="/home/categories?cat=6&cat=9&cat=13&cat=14&cat=19&cat=20&cat=28">Electrics</a></li>
                                            <li><a href="/home/categories?cat=9">Phone & Accessories</a></li>
                                            <li><a href="/home/categories?cat=10">Travel & Luggage</a></li>
                                            <li><a href="/home/categories?cat=14">Speaker Devices</a></li>
                                            <li><a href="/home/categories?cat=16">Pet care</a></li>
                                            <li><a href="/home/categories?cat=21">House & Life</a></li>
                                            <li class="list-all-link"><a href="home/categories?cat=6&cat=9&cat=13&cat=14&cat=19&cat=20&cat=28&cat=9&cat=10&cat=16&cat=21">All</a></li>
                                        </ul>
                                    </div><!-- End .banner-list-content -->
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6 col-xl-12 col-xxl-6">
                                    <div class="banner banner-overlay">
                                        <a href="/product/index/@highlightConvenience.Id">
                                            <img src="@Url.Content("~/assets/user/images/demos/demo-14/banners/banner-5.jpg")" alt="Banner img desc">
                                        </a>

                                        <div class="banner-content">
                                            <h4 class="banner-subtitle text-white">
                                                <a href="/product/index/@highlightConvenience.Id">Best Deals</a>
                                            </h4><!-- End .banner-subtitle -->
                                            <h3 class="banner-title text-white">
                                                <a href="/product/index/@highlightConvenience.Id">@highlightConvenience.ProductName <br />
                                                    @if (highlightConvenience.Discount > 0)
                                                    {
                                                        <span>Up To @highlightConvenience.Discount% Off</span>
                                                    }
                                                </a>
                                            </h3><!-- End .banner-title -->
                                            <a href="/product/index/@highlightAccessories.Id" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                                        </div><!-- End .banner-content -->
                                    </div><!-- End .banner -->
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .cat-banner -->
                        </div><!-- End .col-xl-3 -->

                        <div class="col-xl-9 col-xxl-8">
                            <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                                 data-owl-options='{
                                            "nav": true,
                                            "dots": false,
                                            "margin": 20,
                                            "loop": false,
                                            "responsive": {
                                                "0": {
                                                    "items":2
                                                },
                                                "480": {
                                                    "items":2
                                                },
                                                "768": {
                                                    "items":3
                                                },
                                                "992": {
                                                    "items":4
                                                },
                                                "1200": {
                                                    "items":3
                                                },
                                                "1600": {
                                                    "items":4
                                                }
                                            }
                                        }'>
                                @foreach (var product in Model.Products["Convenience"])
                                {
                                    <div class="product text-center">
                                        <figure class="product-media">
                                            @if (product.Discount > 0)
                                            {
                                                <span class="product-label label-sale">Sale @(product.Discount)% Off</span>
                                            }
                                            @if (product.IsNewProduct)
                                            {
                                                <span class="product-label label-new">New</span>
                                            }
                                            <a href="/product/index/@product.Id">
                                                <img src="@Url.ProductImageUrl(product.Images[0])" alt="@product.ProductName" class="product-image">
                                            </a>

                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart" title="Add to cart" data-product="@product.Id">
                                                    <span>add to cart</span>
                                                </a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="/home/categories?cat=@product.CategoryId">@product.CategoryName</a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title">
                                                <a href="/product/index/@product.Id">@product.ProductName</a>
                                            </h3><!-- End .product-title -->
                                            <div class="product-price">
                                                @if (product.Discount > 0)
                                                {
                                                    <span class="new-price">@((product.Price * (1 - (product.Discount / 100.0))).ToString("N0", CultureInfo.InvariantCulture))</span>
                                                    <span class="old-price">@product.Price.ToString("N0", CultureInfo.InvariantCulture)</span>
                                                }
                                                else
                                                {
                                                    <span class="new-price">@product.Price.ToString("N0", CultureInfo.InvariantCulture)</span>
                                                }
                                            </div><!-- End .product-price -->
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: @(product.AverageRating * 20)%"></div><!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                            </div><!-- End .rating-container -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                }
                            </div><!-- End .owl-carousel -->
                        </div><!-- End .col-xl-9 -->
                    </div><!-- End .row cat-banner-row -->
                }
                else
                {
                    <div class="row cat-banner-row electronics">
                        <div class="col-xl-3 col-xxl-3">
                            <div class="cat-banner row no-gutters">
                                <div class="cat-banner-list col-sm-6 d-xl-none d-xxl-flex" style="background-image: url(/assets/images/demos/demo-14/banners/banner-bg-1.jpg);">
                                    <div class="banner-list-content">
                                        <h2>Convenience Goods</h2>

                                        <ul>
                                            <li><a href="/home/categories?cat=6&cat=9&cat=13&cat=14&cat=19&cat=20&cat=28">Electrics</a></li>
                                            <li><a href="/home/categories?cat=9">Phone & Accessories</a></li>
                                            <li><a href="/home/categories?cat=10">Travel & Luggage</a></li>
                                            <li><a href="/home/categories?cat=14">Speaker Devices</a></li>
                                            <li><a href="/home/categories?cat=16">Pet care</a></li>
                                            <li><a href="/home/categories?cat=21">House & Life</a></li>
                                            <li class="list-all-link"><a href="home/categories?cat=6&cat=9&cat=13&cat=14&cat=19&cat=20&cat=28&cat=9&cat=10&cat=16&cat=21">All</a></li>
                                        </ul>
                                    </div><!-- End .banner-list-content -->
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .cat-banner -->
                        </div><!-- End .col-xl-3 -->

                        <div class="col-xl-9 col-xxl-9" style="display: flex; justify-content: center; align-content: center; flex-direction: column">
                            <h2 style="text-align: center">There is no products!</h2>
                        </div><!-- End .col-xl-9 -->
                    </div><!-- End .row cat-banner-row -->
                }

                <div class="mb-3"></div><!-- End .mb-3 -->

                @if (highlightFashion != null)
                {
                    <div class="row cat-banner-row furniture">
                        <div class="col-xl-3 col-xxl-4">
                            <div class="cat-banner row no-gutters">
                                <div class="cat-banner-list col-sm-6 d-xl-none d-xxl-flex" style="background-image: url(/assets/images/demos/demo-14/banners/banner-bg-2.jpg);">
                                    <div class="banner-list-content">
                                        <h2>Fashion</h2>

                                        <ul>
                                            <li><a href="/home/categories?cat=1&cat=8&cat=11">Women Fashion</a></li>
                                            <li><a href="/home/categories?cat=2&cat=7&cat=12">Men Fashion</a></li>
                                            <li><a href="/home/categories?cat=18">Baby fashion</a></li>
                                            <li><a href="/home/categories?cat=13">Watches</a></li>
                                            <li><a href="/home/categories?cat=5">Fashion Accessories</a></li>
                                            <li><a href="/home/categories?cat=12">Men's bag</a></li>
                                            <li><a href="/home/categories?cat=11">Women's bag</a></li>
                                            <li class="list-all-link"><a href="/home/categories?cat=1&cat=2&cat=7&cat=8&cat=11&cat=12&cat=18&cat=13&cat=5">All</a></li>
                                        </ul>
                                    </div><!-- End .banner-list-content -->
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6 col-xl-12 col-xxl-6">
                                    <div class="banner banner-overlay">
                                        <a href="/product/index/@highlightFashion.Id">
                                            <img src="@Url.Content("~/assets/user/images/demos/demo-14/banners/banner-6.jpg")" alt="Banner img desc">
                                        </a>

                                        <div class="banner-content">
                                            <h4 class="banner-subtitle text-white"><a href="/product/index/@highlightFashion.Id">Best Deals</a></h4><!-- End .banner-subtitle -->
                                            <h3 class="banner-title text-white">
                                                <a href="/product/index/@highlightFashion.Id">@highlightFashion.ProductName <br>
                                                    @if (highlightFashion.Discount > 0)
                                                    {
                                                        <span>Up To @highlightFashion.Discount% Off</span>
                                                    }
                                                </a>
                                            </h3><!-- End .banner-title -->
                                            <a href="/product/index/@highlightFashion.Id" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                                        </div><!-- End .banner-content -->
                                    </div><!-- End .banner -->
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .cat-banner -->
                        </div><!-- End .col-xl-3 -->

                        <div class="col-xl-9 col-xxl-8">
                            <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                                 data-owl-options='{
                                            "nav": true,
                                            "dots": false,
                                            "margin": 20,
                                            "loop": false,
                                            "responsive": {
                                                "0": {
                                                    "items":2
                                                },
                                                "480": {
                                                    "items":2
                                                },
                                                "768": {
                                                    "items":3
                                                },
                                                "992": {
                                                    "items":4
                                                },
                                                "1200": {
                                                    "items":3
                                                },
                                                "1600": {
                                                    "items":4
                                                }
                                            }
                                        }'>
                                @foreach (var product in Model.Products["Fashion"])
                                {
                                    <div class="product text-center">
                                        <figure class="product-media">
                                            @if (product.Discount > 0)
                                            {
                                                <span class="product-label label-sale">Sale @(product.Discount)% Off</span>
                                            }
                                            @if (product.IsNewProduct)
                                            {
                                                <span class="product-label label-new">New</span>
                                            }
                                            <a href="/product/index/@product.Id">
                                                <img src="@Url.ProductImageUrl(product.Images[0])" alt="@product.ProductName" class="product-image">
                                            </a>

                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart" title="Add to cart" data-product="@product.Id">
                                                    <span>add to cart</span>
                                                </a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="/home/categories?cat=@product.CategoryId">@product.CategoryName</a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title">
                                                <a href="/product/index/@product.Id">@product.ProductName</a>
                                            </h3><!-- End .product-title -->
                                            <div class="product-price">
                                                @if (product.Discount > 0)
                                                {
                                                    <span class="new-price">@((product.Price * (1 - (product.Discount / 100.0))).ToString("N0", CultureInfo.InvariantCulture))</span>
                                                    <span class="old-price">@product.Price.ToString("N0", CultureInfo.InvariantCulture)</span>
                                                }
                                                else
                                                {
                                                    <span class="new-price">@product.Price.ToString("N0", CultureInfo.InvariantCulture)</span>
                                                }
                                            </div><!-- End .product-price -->
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: @(product.AverageRating * 20)%"></div><!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                            </div><!-- End .rating-container -->
                                        </div><!-- End .product-body -->
                                    </div>                            
                                }
                            </div><!-- End .owl-carousel -->
                        </div><!-- End .col-xl-9 -->
                    </div><!-- End .row cat-banner-row -->   
                }
                else
                {
                    <div class="row cat-banner-row furniture">
                        <div class="col-xl-3 col-xxl-3">
                            <div class="cat-banner row no-gutters">
                                <div class="cat-banner-list col-sm-6 d-xl-none d-xxl-flex" style="background-image: url(/assets/images/demos/demo-14/banners/banner-bg-2.jpg);">
                                    <div class="banner-list-content">
                                        <h2>Fashion</h2>
                                        <ul>
                                            <li><a href="/home/categories?cat=1&cat=8&cat=11">Women Fashion</a></li>
                                            <li><a href="/home/categories?cat=2&cat=7&cat=12">Men Fashion</a></li>
                                            <li><a href="/home/categories?cat=18">Baby fashion</a></li>
                                            <li><a href="/home/categories?cat=13">Watches</a></li>
                                            <li><a href="/home/categories?cat=5">Fashion Accessories</a></li>
                                            <li><a href="/home/categories?cat=12">Men's bag</a></li>
                                            <li><a href="/home/categories?cat=11">Women's bag</a></li>
                                            <li class="list-all-link"><a href="/home/categories?cat=1&cat=2&cat=7&cat=8&cat=11&cat=12&cat=18&cat=13&cat=5">All</a></li>
                                        </ul>
                                    </div><!-- End .banner-list-content -->
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .cat-banner -->
                        </div><!-- End .col-xl-3 -->

                        <div class="col-xl-9 col-xxl-9" style="display: flex; justify-content: center; align-content: center; flex-direction: column">
                            <h2 style="text-align: center">There is no products!</h2>
                        </div><!-- End .col-xl-9 -->
                    </div><!-- End .row cat-banner-row -->
                }

                <div class="mb-3"></div><!-- End .mb-3 -->

                <div class="row">
                    <div class="col-md-6">
                        <div class="banner banner-overlay">
                            <a href="#">
                                <img src="@Url.Content("~/assets/user/images/demos/demo-14/banners/banner-7.jpg")" alt="Banner img desc">
                            </a>

                            <div class="banner-content">
                                <h4 class="banner-subtitle text-white d-none d-sm-block"><a href="/home/categories?cat=2">Spring Sale is Coming</a></h4><!-- End .banner-subtitle -->
                                <h3 class="banner-title text-white"><a href="#">Floral T-shirts and Vests  <br><span>Spring Sale</span></a></h3><!-- End .banner-title -->
                                <a href="/home/categories?cat=2" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="banner banner-overlay">
                            <a href="#">
                                <img src="@Url.Content("~/assets/user/images/demos/demo-14/banners/banner-8.jpg")" alt="Banner img desc">
                            </a>

                            <div class="banner-content">
                                <h4 class="banner-subtitle text-white d-none d-sm-block"><a href="/home/categories?cat=9">Amazing Value</a></h4><!-- End .banner-subtitle -->
                                <h3 class="banner-title text-white"><a href="#">Upgrade and Save <br><span>On The Latest Apple Devices</span></a></h3><!-- End .banner-title -->
                                <a href="/home/categories?cat=9" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner banner-overlay -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->

                <div class="mb-3"></div><!-- End .mb-3 -->

                @if (highlightAccessories != null)
                {
                    <div class="row cat-banner-row">
                        <div class="col-xl-3 col-xxl-4">
                            <div class="cat-banner row no-gutters">
                                <div class="cat-banner-list col-sm-6 d-xl-none d-xxl-flex" style="background-image: url(/assets/images/demos/demo-14/banners/banner-bg-3.jpg);">
                                    <div class="banner-list-content">
                                        <h2>Accessories</h2>
                                        <ul>
                                            <li><a href="/home/categories?cat=3">Beauty</a></li>
                                            <li><a href="/home/categories?cat=4">Health</a></li>
                                            <li><a href="/home/categories?cat=1&cat=8&cat=11">Women</a></li>
                                            <li><a href="/home/categories?cat=2&cat=7&cat=12">Man</a></li>
                                            <li><a href="/home/categories?cat=7&cat=8">Shoes</a></li>
                                            <li><a href="/home/categories?cat=9">Accessories</a></li>
                                            <li class="list-all-link"><a href="/home/categories?cat=1&cat=2&cat=3&cat=4&cat=7&cat=8&cat=9&cat=11&cat=12">All</a></li>
                                        </ul>
                                    </div><!-- End .banner-list-content -->
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6 col-xl-12 col-xxl-6">
                                    <div class="banner banner-overlay">
                                        <a href="/product/index/@highlightAccessories.Id">
                                            <img src="@Url.Content("~/assets/user/images/demos/demo-14/banners/banner-9.jpg")" alt="Banner img desc">
                                        </a>

                                        <div class="banner-content">
                                            <h4 class="banner-subtitle text-white"><a href="/product/index/@highlightAccessories.Id">Best Deals</a></h4><!-- End .banner-subtitle -->
                                            <h3 class="banner-title text-white">
                                                <a href="/product/index/@highlightAccessories.Id">@highlightAccessories.ProductName <br>
                                                    @if (highlightAccessories.Discount > 0)
                                                    {
                                                        <span>Up To @highlightAccessories.Discount% Off</span>
                                                    }
                                                </a>
                                            </h3><!-- End .banner-title -->
                                            <a href="/product/index/@highlightAccessories.Id" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                                        </div><!-- End .banner-content -->
                                    </div><!-- End .banner -->
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .cat-banner -->
                        </div><!-- End .col-xl-3 -->

                        <div class="col-xl-9 col-xxl-8">
                            <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                                 data-owl-options='{
                                            "nav": true,
                                            "dots": false,
                                            "margin": 20,
                                            "loop": false,
                                            "responsive": {
                                                "0": {
                                                    "items":2
                                                },
                                                "480": {
                                                    "items":2
                                                },
                                                "768": {
                                                    "items":3
                                                },
                                                "992": {
                                                    "items":4
                                                },
                                                "1200": {
                                                    "items":3
                                                },
                                                "1600": {
                                                    "items":4
                                                }
                                            }
                                        }'>
                                @foreach (var product in Model.Products["Accessories"])
                                {
                                    <div class="product text-center">
                                        <figure class="product-media">
                                            @if (product.Discount > 0)
                                            {
                                                <span class="product-label label-sale">Sale @(product.Discount)% Off</span>
                                            }
                                            @if (product.IsNewProduct)
                                            {
                                                <span class="product-label label-new">New</span>
                                            }
                                            <a href="/product/index/@product.Id">
                                                <img src="@Url.ProductImageUrl(product.Images[0])" alt="@product.ProductName" class="product-image">
                                            </a>
                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="/home/categories?cat=@product.CategoryId">@product.CategoryName</a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title">
                                                <a href="/product/index/@product.Id">@product.ProductName</a></h3>
                                            <div class="product-price">
                                                @if (product.Discount > 0)
                                                {
                                                    <span class="new-price">@((product.Price * (1 - (product.Discount / 100.0))).ToString("N0", CultureInfo.InvariantCulture))</span>
                                                    <span class="old-price">@product.Price.ToString("N0", CultureInfo.InvariantCulture)</span>
                                                }
                                                else
                                                {
                                                    <span class="new-price">@product.Price.ToString("N0", CultureInfo.InvariantCulture)</span>
                                                }
                                            </div><!-- End .product-price -->
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: @(product.AverageRating * 20)%"></div><!-- End .ratings-val -->
                                                </div>
                                            </div><!-- End .rating-container -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->   
                                }
                            </div><!-- End .owl-carousel -->
                        </div><!-- End .col-xl-9 -->
                    </div><!-- End .row cat-banner-row -->
                }
                else
                {
                    <div class="row cat-banner-row">
                        <div class="col-xl-3 col-xxl-3">
                            <div class="cat-banner row no-gutters">
                                <div class="cat-banner-list col-sm-6 d-xl-none d-xxl-flex" style="background-image: url(/assets/images/demos/demo-14/banners/banner-bg-3.jpg);">
                                    <div class="banner-list-content">
                                        <h2>Accessories</h2>
                                        <ul>
                                            <li><a href="/home/categories?cat=3">Beauty</a></li>
                                            <li><a href="/home/categories?cat=4">Health</a></li>
                                            <li><a href="/home/categories?cat=1&cat=8&cat=11">Women</a></li>
                                            <li><a href="/home/categories?cat=2&cat=7&cat=12">Man</a></li>
                                            <li><a href="/home/categories?cat=7&cat=8">Shoes</a></li>
                                            <li><a href="/home/categories?cat=9">Accessories</a></li>
                                            <li class="list-all-link"><a href="/home/categories?cat=1&cat=2&cat=3&cat=4&cat=7&cat=8&cat=9&cat=11&cat=12">All</a></li>
                                        </ul>
                                    </div><!-- End .banner-list-content -->
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .cat-banner -->
                        </div><!-- End .col-xl-3 -->

                        <div class="col-xl-9 col-xxl-9" style="display: flex; justify-content: center; align-content: center; flex-direction: column">
                            <h2 style="text-align: center">There is no products!</h2>
                        </div><!-- End .col-xl-9 -->
                    </div><!-- End .row cat-banner-row -->
                }

                <div class="mb-3"></div><!-- End .mb-3 -->

                <div class="mb-5"></div><!-- End .mb-5 -->
            </div><!-- End .col-lg-9 col-xxl-10 -->

            <aside class="col-xl-3 col-xxl-2 order-xl-first">
                <div class="sidebar sidebar-home">
                    <div class="row">
                        <div class="col-sm-6 col-xl-12">
                            <div class="widget widget-banner">
                                <div class="banner banner-overlay">
                                    <a href="#">
                                        <img src="@Url.Content("~/assets/user/images/demos/demo-14/banners/banner-11.jpg")" alt="Banner img desc">
                                    </a>

                                    <div class="banner-content banner-content-top banner-content-right text-right">
                                        <h3 class="banner-title text-white"><a href="#">Maximum Comfort <span>Sofas -20% Off</span></a></h3><!-- End .banner-title -->
                                        <a href="#" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner banner-overlay -->
                            </div><!-- End .widget widget-banner -->
                        </div><!-- End .col-sm-6 col-xl-12 -->

                        <div class="col-sm-6 col-xl-12 mb-2">
                            <div class="widget widget-products">
                                <h4 class="widget-title"><span>Bestsellers</span></h4><!-- End .widget-title -->

                                <div class="products">
                                    @foreach (var product in Model.BestSellerProducts)
                                    {
                                        <div class="product product-sm">
                                            <figure class="product-media">
                                                <a href="/product/index/@product.Id">
                                                    <img src="@Url.ProductImageUrl(product.Images[0])" alt="@product.ProductName" class="product-image">
                                                </a>
                                            </figure>

                                            <div class="product-body">
                                                <h5 class="product-title">
                                                    <a href="/product/index/@product.Id">@product.ProductName</a>
                                                </h5><!-- End .product-title -->
                                                <div class="product-price">
                                                    @if (product.Discount > 0)
                                                    {
                                                        <span class="new-price">@((product.Price * (1 - (product.Discount / 100.0))).ToString("N0", CultureInfo.InvariantCulture))</span>
                                                        <span class="old-price">@product.Price.ToString("N0", CultureInfo.InvariantCulture)</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="new-price">@product.Price.ToString("N0", CultureInfo.InvariantCulture)</span>
                                                    }
                                                </div>
                                            </div><!-- End .product-body -->
                                        </div>
                                    }
                                </div><!-- End .products -->
                            </div><!-- End .widget widget-products -->
                        </div><!-- End .col-sm-6 col-xl-12 -->

                        <div class="col-12">
                            <div class="widget widget-deals">
                                <h4 class="widget-title"><span>Special Offer</span></h4><!-- End .widget-title -->

                                <div class="row">
                                    
                                    @foreach (var product in Model.NewProducts)
                                    {
                                        <div class="col-sm-6 col-xl-12">
                                            <div class="product text-center">
                                                <figure class="product-media">
                                                    @if (product.Discount > 0)
                                                    {
                                                        <span class="product-label label-sale">Sale @(product.Discount)% Off</span>
                                                    }
                                                    @if (product.IsNewProduct)
                                                    {
                                                        <span class="product-label label-new">New</span>
                                                    }
                                                    <span class="product-label label-sale">Deal of the week</span>
                                                    <a href="/product/index/@product.Id">
                                                        <img src="@Url.ProductImageUrl(product.Images[0])" alt="@product.ProductName" class="product-image">
                                                    </a>

                                                    <div class="product-action">
                                                        <a href="/product/index/@product.Id" class="btn-product btn-cart" title="Add to cart" data-product="@product.Id">
                                                            <span>add to cart</span>
                                                        </a>
                                                    </div><!-- End .product-action -->
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <div class="product-cat">
                                                        <a href="/home/categories?cat=@product.CategoryId">@product.CategoryName</a>
                                                    </div><!-- End .product-cat -->
                                                    <h3 class="product-title"><a href="/product/index/@product.Id">@product.ProductName</a></h3><!-- End .product-title -->
                                                    <div class="product-price">
                                                        @if (product.Discount > 0)
                                                        {
                                                            <span class="new-price">@((product.Price * (1 - (product.Discount / 100.0))).ToString("N0", CultureInfo.InvariantCulture))</span>
                                                            <span class="old-price">@product.Price.ToString("N0", CultureInfo.InvariantCulture)</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="new-price">@product.Price.ToString("N0", CultureInfo.InvariantCulture)</span>
                                                        }
                                                    </div><!-- End .product-price -->
                                                    <div class="ratings-container">
                                                        <div class="ratings">
                                                            <div class="ratings-val" style="width: @(product.AverageRating * 20)%"></div><!-- End .ratings-val -->
                                                        </div><!-- End .ratings -->
                                                    </div><!-- End .rating-container -->
                                                </div><!-- End .product-body -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 col-xl-12 -->   
                                    }
                                </div><!-- End .row -->
                            </div><!-- End .widget widget-deals -->
                        </div><!-- End .col-sm-6 col-lg-xl -->

                        <div class="col-sm-6 col-xl-12">
                            <div class="widget widget-banner">
                                <div class="banner banner-overlay">
                                    <a href="#">
                                        <img src="@Url.Content("~/assets/user/images/demos/demo-14/banners/banner-12.jpg")" alt="Banner img desc">
                                    </a>

                                    <div class="banner-content banner-content-top">
                                        <h3 class="banner-title text-white"><a href="#">Take Better Photos <br><span>With</span> Canon EOS <br></a></h3><!-- End .banner-title -->
                                        <a href="/home/categories?cat=20" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner banner-overlay -->
                            </div><!-- End .widget widget-banner -->
                        </div><!-- End .col-sm-6 col-lg-12 -->

                        <div class="col-sm-6 col-xl-12">
                            <div class="widget widget-posts">
                                <h4 class="widget-title"><span>Solution for Shop Owner</span></h4><!-- End .widget-title -->

                                <div class="owl-carousel owl-simple" data-toggle="owl"
                                     data-owl-options='{
                                                "nav":false,
                                                "dots": true,
                                                "loop": false,
                                                "autoHeight": true
                                            }'>
                                    <article class="entry">
                                        <figure class="entry-media">
                                            <a href="https://emallsolution-admin.herokuapp.com/#services">
                                                <img src="@Url.Content("~/assets/user/images/demos/demo-14/blog/post-1.jpg")" alt="image desc">
                                            </a>
                                        </figure><!-- End .entry-media -->

                                        <div class="entry-body">
                                            <h5 class="entry-title">
                                                <a href="https://emallsolution-admin.herokuapp.com/#services">Service management</a>
                                            </h5><!-- End .entry-title -->

                                            <div class="entry-content">
                                                <p>High standard Service Management requires many individual strands of service.</p>
                                                <a href="https://emallsolution-admin.herokuapp.com/#services" class="read-more">Read More</a>
                                            </div><!-- End .entry-content -->
                                        </div><!-- End .entry-body -->
                                    </article><!-- End .entry -->

                                    <article class="entry">
                                        <figure class="entry-media">
                                            <a href="https://emallsolution-admin.herokuapp.com/#services">
                                                <img src="@Url.Content("~/assets/user/images/demos/demo-14/blog/post-2.jpg")" alt="image desc">
                                            </a>
                                        </figure><!-- End .entry-media -->

                                        <div class="entry-body">
                                            <h5 class="entry-title">
                                                <a href="https://emallsolution-admin.herokuapp.com/#services">ADS marketing</a>
                                            </h5><!-- End .entry-title -->

                                            <div class="entry-content">
                                                <p>Retailers independently study and understand their market,...</p>
                                                <a href="https://emallsolution-admin.herokuapp.com/#services" class="read-more">Read More</a>
                                            </div><!-- End .entry-content -->
                                        </div><!-- End .entry-body -->
                                    </article><!-- End .entry -->

                                    <article class="entry">
                                        <figure class="entry-media">
                                            <a href="https://emallsolution-admin.herokuapp.com/#services">
                                                <img src="@Url.Content("~/assets/user/images/demos/demo-14/blog/post-3.jpg")" alt="image desc">
                                            </a>
                                        </figure><!-- End .entry-media -->

                                        <div class="entry-body">
                                            <h5 class="entry-title">
                                                <a href="https://emallsolution-admin.herokuapp.com/#services">Register shop</a>
                                            </h5><!-- End .entry-title -->

                                            <div class="entry-content">
                                                <p>With a strong internal team and partners, The Mall Company can coordinate...</p>
                                                <a href="https://emallsolution-admin.herokuapp.com/#services" class="read-more">Read More</a>
                                            </div><!-- End .entry-content -->
                                        </div><!-- End .entry-body -->
                                    </article><!-- End .entry -->

                                    <article class="entry">
                                        <figure class="entry-media">
                                            <a href="https://emallsolution-admin.herokuapp.com/#services">
                                                <img src="@Url.Content("~/assets/user/images/demos/demo-14/blog/post-3.jpg")" alt="image desc">
                                            </a>
                                        </figure><!-- End .entry-media -->

                                        <div class="entry-body">
                                            <h5 class="entry-title">
                                                <a href="https://emallsolution-admin.herokuapp.com/#services">Revenue analysis and Statistics</a>
                                            </h5><!-- End .entry-title -->

                                            <div class="entry-content">
                                                <p>Without the expertise and talent to develop facts and statistics...</p>
                                                <a href="https://emallsolution-admin.herokuapp.com/#services" class="read-more">Read More</a>
                                            </div><!-- End .entry-content -->
                                        </div><!-- End .entry-body -->
                                    </article><!-- End .entry -->
                                </div><!-- End .owl-carousel -->
                            </div><!-- End .widget widget-posts -->
                        </div><!-- End .col-sm-6 col-xl-12 -->
                    </div><!-- End .row -->
                </div><!-- End .sidebar sidebar-home -->
            </aside><!-- End .col-lg-3 col-xxl-2 -->
        </div><!-- End .row -->
    </div><!-- End .container-fluid -->
</main><!-- End .main -->